[submodule "third_party/fastgltf"]
	path = third_party/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
